<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xzy.study.recyclerview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".test004.demo.AppContext"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidUISamples">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test001.RecyclerViewActivity01" />
        <activity android:name=".test002.RecyclerViewActivity02" />
        <activity android:name=".test003.RecyclerViewActivity03" />
        <activity android:name=".test004.demo.RecyclerViewActivity04" />
        <activity android:name=".test005.RecyclerViewActivity05" />
    </application>

</manifest>